* {
    box-sizing: border-box;
    color: rgb(7, 43, 43);
}

ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
button {
    border: none;
    font-family: inherit;
}
input {
    font-family: inherit;
}
.container {
    width: 50%;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
}
.main-list-wrap {
    width: 100%;
}
.wrap-todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    padding: 0 20px;
    width: 100%;
    background-color: rgb(216, 250, 216);
    border-radius: 10px;
    margin-bottom: 10px;

}
.inner {
    width: 80%;
    padding: 10px;
}
.inner.open {
    border-radius: 15px;
    /* background-color: rgb(159, 130, 212); */
}
.item-wrap {
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 10px;
}
.my-form {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
    column-gap: 20px;
}
.my-input {
    padding: 10px;
    width: 300px;
    min-height: 40px;
    border: 2px solid rgb(176, 206, 231);
    border-radius: 15px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(47, 67, 105);
}
.my-button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 40px;
    height: 40px;
    border-radius: 15px;
    background-color: #e2e8f5;
    background-image: url('../../img/1923369.svg');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    cursor: pointer;

}
.delete-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #f09595;
    background-image: url('../../img/1487086345-cross_81577.svg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    cursor: pointer;

}
.item-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    
}

.inner-item {
    display: flex;
    justify-content: center;
    padding: 15px;
    width: 60%;
    min-height: 30px;
    background-color: rgb(199, 223, 233);
    border-radius: 15px;
}
.todo-item {
    width: 100%;
    padding: 15px;
    font-weight: 600;
    text-align: start;
    cursor: pointer;

}


.default-radio {
    -webkit-appearance: none;
    appearance: none;
    margin: 0
}
.custom-radio {
    position: relative;
    display: inline-flex;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
}
.custom-radio.done-radio::after {
    position: absolute;
    content: '';
    padding: 5%;
    width: 60%;
    height: 60%;
    border-radius: 50%;
    background-color: teal;
    align-self: center;
}
/* .default-radio:checked + .custom-radio + .todo-item {
} */
.done {
    text-decoration: line-through;

}
.arrow {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: rgb(136, 226, 226);
    background-image: url('../../img/arrow-gal\ —\ копия.svg');
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(-90deg);
    border-radius: 15px;
    cursor: pointer;
}
.arrow.clicked {
    transform: rotate(90deg);
}

.inner.open {
    display: block;
}
.inner.closed {
    display: none;
}

.clean-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 200px;
    border-radius: 10px;
    min-height: 40px;
    background-color: rgb(131, 233, 182);
    color: rgb(1, 32, 13);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}